@import url('https://fonts.googleapis.com/css?family=Domine:400,700');


// colors
$white: #fff;
$light-grey: #eee;
$medium-light-grey: #ddd;
$medium-grey: #bbb;
$dark-grey: #666;
$charcoal: #212121;
$nectarine: #ffc107;
$orange: #ffa600;
$light-red: #ffcccc;
$dark-red: #800000;
$red: #f00;

$container-border: 1px solid $medium-grey;
$container-shadow: 0 2px 3px rgba(0,0,0,0.25);
$container-border-radius: 0.25rem;

* {
    font-family: 'Domine', serif;
    box-sizing: border-box;
}

button,
.button,
.form input[type="submit"] {
    border-radius: 0.25rem;
    background-color: $medium-light-grey;
    color: $charcoal;
    border: none;
    padding: 0.5rem 0.75rem;
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.button {
    &--alert {
        background-color: $orange;
        color: $white;
    }

    &--danger {
        &:hover {
            background-color: $red;
            color: $white;
        }
    }
}

.top-bar {
    background-color: $nectarine;
    padding: 0.5rem;
    text-align: center;

    &__title {
        color: $charcoal;
        font-weight: bold;
        font-size: 0.85rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }
}

.page-nav-bar {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    
    &__wrapper {
        background-color: $light-grey;
    }
}

.form {
    border: $container-border;
    box-shadow: $container-shadow;
    border-radius: $container-border-radius;
    margin: 1rem auto;
    overflow: hidden;

    &__title {
        margin: 0;
        background-color: $nectarine;
        color: $charcoal;
        padding: 1.25rem;
        border-bottom: 1px solid $medium-grey;
    }

    &__content {
        padding: 1rem;
    }

    &__label {
        display: block;
        font-weight: bold;
        margin: 0;
        margin-bottom: 0.5rem;
        color: $dark-grey;
        font-size: 0.8rem;
        text-transform: uppercase;
    }
    
    textarea {
        max-width: 100%;
        min-width: 100%;
        padding: 0.25rem;
        border: 0.5px solid $medium-grey;
    }

    input {
        background-color: transparent;
        width: 100%;
        border: 0.5px solid $medium-grey;
        padding: 0.25rem;
    }

    .input {
        &__error {
            margin-top: 0;
            border: 0.5px solid $red;
            border-top: none;
            background-color: $light-red;
            color: $dark-red;
            font-size: 0.8rem;
            padding: 0.5rem;
        }
    }

    .input-row {
        display: flex;
    }

    .form-row {
        margin-bottom: 1rem;
    }

    .multi-input {
        &__error {
            border: 0.5px solid $red;
            background-color: $light-red;
            color: $dark-red;
            font-size: 0.8rem;
            padding: 0.5rem;
        }

        &__controls {
            margin-top: 0.5rem;
            font-size: 0.8rem;

            .button {
                background-color: $orange;
                color: $white;
            }
        }

        &__row {
            display: flex;
            padding: 0.25rem;
            flex-wrap: wrap;
            align-items: center;
            background-color: $light-grey;

            &:nth-child(2n) {
                background-color: lighten($light-grey, 4);
            }

            .input-group {
                flex: auto;
                margin-right: 0.25rem;
            }

            input {
                margin: 0;
                border: none;
            }
        }
    }
}

.search-message {
    &--no-results {
        text-align: center;
        color: #9b9b9b;
    }
}

.search-container {
    padding: 0.5rem 1rem;
    background-color: $light-grey;
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;

    &__wrapper {
        background-color: $light-grey;
    }

    &__input {
        border-radius: 0.25rem;
        border: 0.5px solid $medium-grey;
        padding: 0.5rem;
        outline: none;
        margin-right: 1rem;
    }
}

.main-container {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

// recipes component
.recipe-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// recipe component
// recipe item variables
$recipe-image-height: 80px;

.recipe-list-item {
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: $container-border;
    box-shadow: $container-shadow;
    border-radius: $container-border-radius;
    overflow: hidden;
    margin: 0.25rem 0;
    cursor: pointer;
    transition: transform 0.3s;
    width: 100%;
    text-decoration: none;
    color: $charcoal;

    &:hover {
        transform: scale(1.02);
    }

    &__title {
        margin: 0;
        font-size: 1.25rem;
        font-weight: normal;
    }

    &__text {
        padding: 1rem;
    }

    &__ingredients {
        color: #444;
        font-size: 0.7rem;
        text-transform: uppercase;

        strong {
            color: $orange;
        }
    }

    &__image {
        display: inline-block;
        min-height: $recipe-image-height;
        width: $recipe-image-height;
        background-size: cover;
        align-self: stretch;
        background-position: center;
        flex: none;
    }
}

.recipe-detail {
    border: $container-border;
    box-shadow: $container-shadow;
    border-radius: $container-border-radius;
    margin: 1rem auto;
    overflow: hidden;

    &__title {
        margin: 0;
        background-color: $nectarine;
        color: $charcoal;
        padding: 1.25rem;
        border-bottom: 1px solid $medium-grey;
    }

    &__content {
        padding: 1.25rem;
        padding-top: 0;
    }

    &__description {
        color: $dark-grey;
        font-size: 1.2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $medium-grey;
    }

    &__image {
        max-width: 100%;

        @media screen and (min-width: 480px) {
            float: right;
            max-width: calc(50% - 1rem);
            margin-left: 1rem;
        }
    }

    &__subtitle {
        color: $dark-grey;
        font-size: 0.8rem;
        text-transform: uppercase;
    }
}

.spinner {
    text-align: center;
    padding: 2.5rem;
}

.modal {
    background-color: $white;
    padding: 1rem;
    border-radius: 0.5rem;

    &__wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.7);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}